@page
@using Microsoft.AspNetCore.Http;
@model PRN221_Cinema.Pages.Details.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string username = HttpContext.Session.GetString("FullName");
}
<div class="row">
    <div class="col-md-6">
        <img src="~/static/img/@Model._movie.Image" alt="Movie Image" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h1>@Model._movie.Title</h1>
        <p>Type: @Model._movie.Genre.Description</p>
        @if (@Model._movie.RatingPoint != null)
        {
            <p>Rating: @Model._movie.RatingPoint</p>
        }
        else
        {
            <p>Rating: Chưa có đánh giá</p>
        }
        <p>Description: @Model._movie.Description</p>
        @if (String.IsNullOrEmpty(username))
        {
            <a class="btn btn-primary" href="/login" role="button">Đánh giá</a>
        }
        <hr>
        @*Truong hop chua dang nhap*@
        @if (@Model.rates.Count > 0 && @Model.rates != null)
        {
            <h2>Bình luận</h2>
            @foreach (var comment in @Model.rates)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@comment.Person.Fullname</h5>
                        <p class="card-text">@comment.Comment</p>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Bình luận: Chưa có bình luận</h2>
        }
        @if (!String.IsNullOrEmpty(username))
        {
            <form>
                <div class="form-group">
                    <label for="comment">Leave a comment:</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        }
    </div>
</div>